$bg-color: #fff;
$bg-img: url('../img/m-h-day.jpg');
$font-color-primary: #2c2f3c;
$font-color-secondary: #c0c3ce;
$font-fam: 'Hind', sans-serif;
$button-color: #699900;
$mark-color: #14a0c7;
$card-footer-bg: #21232e;
$gradient-left: #66960c;
$gradient-rigth: #2e5cd2;
$link-color: #c0c3ce;