$bg-color: #21232e;
$bg-img: url('../img/m-h-night.jpg');
$font-color-primary: #fff;
$font-color-secondary: #c0c3ce;
$font-fam: 'Fresca', sans-serif;
$button-color: #e3ac00;
$mark-color: #ff4e33;
$card-footer-bg: #3b3f50;
$gradient-left: #dea504;
$gradient-rigth: #96324f;
$link-color: #fff;