*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

a
{
    text-decoration: none;

    color: inherit;
}

.header_nav
{
    display: flex;

    width: 85%;
    height: 85px;
    margin: 0 auto;

    justify-content: space-between;
    align-items: center;
}

.header_nav_logo
{
    font-size: 21px;
    font-weight: bold;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: #777;
}

.header_nav_menu_item
{
    font-size: 18px;

    margin-left: 50px;

    color: #777;
}

.header_nav_menu_item:hover
{
    color: #bfba55;
}

.header_hero
{
    position: relative;

    height: calc(100vh - 85px);

    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../img/home-bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.header_hero_container
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;

    transform: translate(-50%, -50%);
    text-align: center;
}

.header_hero_container_text_primary
{
    font-size: 70px;
    font-weight: bold;

    margin-bottom: 20px;

    color: #fff;
}

.header_hero_container_text_secondary
{
    margin-bottom: 50px;

    letter-spacing: 2px;

    color: #bfba55;
}

.button
{
    font-size: 13px;
    font-weight: bold;

    display: inline-block;

    padding: 14px 25px;

    color: #777;
    border-radius: 30px;
    background-color: #fff;
}

.header_hero_button
{
    text-transform: uppercase;
}

.main
{
    width: 100%;
    max-width: 960px;
    margin: 150px auto 100px auto;
}

.article
{
    margin: 80px 15px 60px 15px;

    border-bottom: 1px solid #e1e1e1;
}

.article:last-child
{
    margin-bottom: 70px;

    border: none;
}

.article_img
{
    display: block;

    width: 100%;
    margin-bottom: 40px;
}

.article_heading
{
    margin-bottom: 10px;
}

.article_info
{
    display: flex;

    margin-bottom: 20px;

    align-items: center;
}

.article_info_img
{
    width: 40px;
    margin-right: 10px;

    border-radius: 50%;
}

.article_info_autor,
.article_info_date,
.article_info_comments
{
    font-size: 17px;

    margin-right: 20px;

    color: #777;
}

.article_text
{
    font-size: 17px;
    line-height: 1.5;

    margin-bottom: 30px;

    color: #777;
}

.article_button
{
    font-size: 17px;

    margin-bottom: 60px;

    border: 1px solid #777;
}

.footer
{
    color: #777;
    background-color: #000;
}

.footer-wrap
{
    display: flex;

    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 70px 15px;

    align-items: flex-start;
}

.footer_item_left
{
    flex-basis: 60%;
}

.footer_item_right
{
    flex-basis: 40%;
}

.footer_heading
{
    font-size: 25px;
    font-weight: bold;

    margin-bottom: 20px;

    color: #fff;
}

.footer_text
{
    line-height: 1.6;

    width: 80%;
    margin-bottom: 20px;
}

.footer_text_item
{
    margin-bottom: 20px;
}
